footer{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding:40px 140px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.footer-item{
    vertical-align: middle;
}


.footer-links-item{
    list-style-type: none;
    font-size: 16px;
}

.bold{
    font-weight: bold;
}

img.social-media{
    width: 32px;
    margin: 10.5px;
}

.contact{
    text-align: center;
    vertical-align: middle;
}

.contact-text{
    font-size: 32px;
    font-weight: bold;
    color: #EECE57;
}

.contact-email{
    font-size: 24px;
    color: black;
}

@media only screen and (max-width: 600px) {
    footer{
        display: block;
        padding:10%;
        text-align: center;
        justify-content: center;
    }

    img.social-media{
        width: 24px;
    }

    .footer-item{
        margin-bottom: 40px;
    }

    ul.footer-links{
        padding-left: 0px;
    }

    .contact-text{
        font-size: 18px;
    }
    .contact-email{
        font-size: 16px;
    }

}