h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

p{
   font-size: 20px; 
   font-family: 'Open Sans', sans-serif;
}
.story-container{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 5px 8px #00000015;
}

.hero{
    width: 85%;
    height: 200px;
    background-size: cover;
    background-image: url(../Images/ourStoryHero.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}
.hero-text{
    position: relative;
    top: 50%;
    left: calc(50% - 13%);
    font-family: Helvetica;
    color: white;
    font-size: 40px;
}

.ourStory-hero-container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 5px 8px #00000015;
}
.story-hero{
    height: 450px;
    width: 100%;
    font-size: 60px;
    text-align: center;
    background-image: url("../Images/ourStoryHero.png");
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    position: relative;
}

.partner{
    text-align: center;
}

.supporter{
    text-align: center;
}
img.card-image{
    width: 100%;
}
.card-container{
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
}
.card-item{
    width: 24%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 3%;
}

.card-item-block{
    display: block;
    width: 100%;
    text-align: center;
    padding: 3%;
    margin: 8px;
    margin-bottom: 16px;
}

.card-image2{
    width: 100%;
}

.left{
    width: 55%;
    display: inline-block;
}

.right{
    width: 25%;
    display: inline-block;
    float: right;
    margin-right: 40px;
}

.content-who{
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (max-width: 600px) {
    .card-item{
        display: block;
        width: 100%;
        align-items: center;
    }
    .card-item-block{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0px;
        margin: 0px;
        margin-bottom: 16px;
    }
    .card-container{
        align-items: center;
    }

    .story-container{
        width: 82%;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        margin-top: 30px;
        background-color: white;
        box-shadow: 0px 5px 8px #00000015;
    }
    .ourStory-hero-container{
        width: 82%;
        padding: 5%;
    }
    .hero{
        width: 82%;
        padding: 5%;
    }
    .hero-text{
        position: relative;
        top: 30%;
        left: calc(50% - 25%);
        font-family: Helvetica;
        color: white;
        font-size: 40px;
    }
    .left{
        display: block;
        width: 100%;
        text-align: center;
    }
    .right{
        display: block;
        width: 90%;
        margin-right: 0px;
        text-align: center;
        float: none;
    }
    img.card-image{
        width: 80%;
    }
    .content-who{
        align-items: center;
    }
    

  }

  /* this is for the fab button */
  .floatingButtonWrap {
    display: block;
    position: fixed;
    bottom: 45px;
    right: 30px;
    z-index: 99;
}

.floatingButtonInner {
    position: relative;
}

.floatingButton {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #EECE57;
    color: #fff;
    line-height: 50px;
    position: absolute;
    border-radius: 50% 50%;
    bottom: 0px;
    right: 0px;
    /* opacity: 0.3; */
    opacity: 1;
    transition: all 0.4s;
    box-shadow: 0px 5px 8px #00000015;
}

.floatingButton .fab {
    width:60% !important;
    margin-top:9px;
}

.floatingButton.open,
.floatingButton:hover,
.floatingButton:focus,
.floatingButton:active {
    opacity: 1;
    color: #fff;
}


.floatingButton .fab {
    transform: rotate(0deg);
    transition: all 0.4s;
}

.floatingButton.open .fab {
    transform: rotate(270deg);
}

.floatingMenu {
    position: absolute;
    bottom: 60px;
    right: 0px;
    /* width: 200px; */
    display: none;
}

.floatingMenu li {
    width: 100%;
    float: right;
    list-style: none;
    text-align: right;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight: 700;
    text-decoration: none;
}

.floatingMenu li a {
    padding: 20px 68px;
    display: inline-block;
    background: #EECE57;
    color: black;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.4s;
    text-decoration: none;
    box-shadow: 0px 8px 8px #0000002c;
    white-space: nowrap;
}

.floatingMenu li a:hover {
    margin-right: 10px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .floatingMenu li a {
      padding:10px 34px;
  }
}
/* end for the fab button */